@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Emilys+Candy&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground: oklch(0.943 0.029 294.588);
}

body {
    color: var(--foreground);
    font-family: Krub;
}
